.date {
    color: #00000090;
}

.icons_calendar {
    width: 1rem;
    height: 1rem;
    padding: 1px;
    background-image: url(./akar-icons_calendar.png);
    margin-right: 5px;
}

.date_wrap {
    width: 100%;
    display: flex;
    padding: 1px;
}