.form {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: .5rem;
    left: 3vw;
    right: 3vh;
    width: 94vw;
    height: 120px;
    border-bottom: 1px solid #ccc;

}

.filter_by_keywords {
    display: block;
}

span {

    &.filter_by_keywords,
    &.result {
        font-size: 1rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: .4rem;
    }

}